/* Legend =================================================================== */

#legend-block {
    width: 100%;
}

#legend-block p {
    margin: 0;
}

#help-content:has(#legend-block) {
    width: 380px;
}

#legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 3px 0;
    margin-left: 1em;
}

#legend-dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    flex-shrink: 0;
}

#legend-note {
    color: var(--color-note);
}

/* help-icon,
.legend-block help-icon {
  margin-left: auto;
  margin-top: 4px;
}

help-icon::after,
.legend-block help-icon::after {
  width: 1.8em;
  height: 1.8em;
  font-size: var(--font-lg);
} */
